
body {
   
    background-image: url("img/marvel_heroes2.jpg");
    background-size: initial;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: cyan;
    
    text-align: center;
    width: 70%;
    padding-left: 15%;
   /* width: 1000px;*/

  
 
  
}


/*    ENCABEZADO     */
nav {
    background: url(img/banner_marvel.png) no-repeat center/cover;
    background-position: top;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    
}
li {
    display: inline;
    font-size: 18px;
    padding: 10px;    
  }
li a, li button{
    text-decoration: none;
    color: cyan;
    background: rgba(0, 0, 0, 0.5); 
    padding: 10px 20px;
    font-size: 18px;   
}

li button:hover, li a:hover {
    background-color: rgb(222, 226, 4);
    color: darkblue;
    opacity: .7;
}
/* boton MAS >>> */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #01232e;
  border: 1px solid cyan;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: cyan;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: cyan;
    color: #01232e;
}

.dropdown:hover .dropdown-content {display: block;}


/*    CUERPO   */
.contenedor {
    background-color: #01232e;
    opacity: 0.9;
}
.slideshow-container {
    height: 400px;
}
section {
    color: yellow;
    margin: 20px;
    padding: 20px;
    border: 1px solid cyan;
    height: auto;
}
.titulo b i h1.fon_effect_fire{
    font-family: "Sofia", sans-serif;
    font-size: 30px;
}
.img_central {
    width: 50%;
   padding: 5px;
}
.btn {
    cursor: pointer;
    display: inline-block;

    padding: 10px 20px;

    color: cyan;
    border: 1px solid cyan;
}
.btn:hover {
    opacity: .7;
    background-color: cyan;
    color: black;
}

.ironman {
    width: 12%;
    position:absolute;
    top: 200px;
    left: 20px;
    z-index: 1;
}
.ironman:hover {
    /*top: 20px;
    left: 80%;*/
    transform: translateX(630%);
    transition: transform .5s ease-in-out;
}
.capi {
    width: 20%;
    position:absolute;
    top: 200px;
    left: 80%;
    z-index: 1;
}
.capi:hover {
    /*top: 20px;
    left: 80%;*/
    transform: translateX(-350%);
    transition: transform .5s ease-in-out;
}
.info {
    color: yellow;
    margin: 20px;
    padding: 20px;
    border: 1px solid cyan;
    height: auto;
}
footer {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
}
footer a{
    color: cyan;
    padding: 10px;
  font-size: 30px;
  width: 20px;
 
  text-decoration: none;
 

}
footer img {
    width: 10%;
}
@media (max-width: 900px){
    body {
        font-size: 12px;
    }
    .img_central {
        width: 80%;
       padding: 5px;
    }
    li a, li button{
      
        font-size: 12px;   
    }
    .slideshow-container {
        height: 250px;
    }
  
}
@media (max-width: 600px){
    body {
        font-size: 10px;
        margin: 10px;
    }
    body div.central div p{
        font-size: 12px;
    }
    body div.central div p b a.btn{
        font-size: 12px;
    }
    .img_central {
        width: 80%;
       padding: 5px;
    }
    .slideshow-container {
        height: 150px;
    }
  
}

